
@{
    ViewBag.Title = "HomeAdmin";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<section class="w3l-login">
    <div class="overlay">
        <div class="wrapper">

            <div class="logo">
                <a class="brand-logo" href="login.html">Admin | Home</a>
            </div>
            <div class="form-section">
                <h3></h3>
                <br>
                <button type="submit" class="btn btn-primary theme-button mt-4">User Management</button>
                <br>
                <button type="submit" class="btn btn-primary theme-button mt-4">Add Records</button>
                <br>
                <button type="submit" class="btn btn-primary theme-button mt-4">Remove records</button>
                <br>
                <button type="submit" class="btn btn-primary theme-button mt-4">View</button>
                <br>
            </div>
        </div>
    </div>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</section>

