<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/Bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">
 
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
